<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.jstakun.lm.server.filter.AdminFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ServicesAuthorizationFilter</filter-name>
    <filter-class>com.jstakun.lm.server.filter.ServicesAuthorizationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>statusEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>ERROR</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>IPFilter</filter-name>
    <filter-class>com.jstakun.lm.server.filter.IPFilter</filter-class>
  </filter>
  <filter>
    <filter-name>BlockerFilter</filter-name>
    <filter-class>com.jstakun.lm.server.filter.BlockerFilter</filter-class>
  </filter>
  <filter>
    <filter-name>TokenFilter</filter-name>
    <filter-class>com.jstakun.lm.server.filter.TokenFilter</filter-class>
  </filter>
  <filter>
    <filter-name>GeocodeFilter</filter-name>
    <filter-class>com.jstakun.lm.server.filter.GeocodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IPFilter</filter-name>
    <url-pattern>/facebookProvider</url-pattern>
    <url-pattern>/foursquareProvider</url-pattern>
    <url-pattern>/yelpProvider</url-pattern>
    <url-pattern>/qypeProvider</url-pattern>
    <url-pattern>/googlePlacesProvider</url-pattern>
    <url-pattern>/couponsProvider</url-pattern>
    <url-pattern>/grouponProvider</url-pattern>
    <url-pattern>/atmProvider</url-pattern>
    <url-pattern>/flickrProvider</url-pattern>
    <url-pattern>/downloadLandmark</url-pattern>
    <url-pattern>/picasaProvider</url-pattern>
    <url-pattern>/meetupProvider</url-pattern>
    <url-pattern>/upcomingProvider</url-pattern>
    <url-pattern>/youTubeProvider</url-pattern>
    <url-pattern>/eventfulProvider</url-pattern>
    <url-pattern>/osmProvider</url-pattern>
    <url-pattern>/placeopediaProvider</url-pattern>
    <url-pattern>/geonamesProvider</url-pattern>
    <url-pattern>/lastfmProvider</url-pattern>
    <url-pattern>/webcamProvider</url-pattern>
    <url-pattern>/hotwireProvider</url-pattern>
    <url-pattern>/panoramio2Provider</url-pattern>
    <url-pattern>/foursquareMerchant</url-pattern>
    <url-pattern>/expediaProvider</url-pattern>
    <url-pattern>/hotelsProvider</url-pattern>
    <url-pattern>/twitterProvider</url-pattern>
    <url-pattern>/instagramProvider</url-pattern>
    <url-pattern>/instagramProvider</url-pattern>
    <url-pattern>/freebaseProvider</url-pattern>
    <url-pattern>/gowallaProvider</url-pattern>
    <url-pattern>/search</url-pattern>
    <url-pattern>/listLayers</url-pattern>
    <url-pattern>/geocode</url-pattern>
    <url-pattern>/crashReport</url-pattern>
    <url-pattern>/imageUpload</url-pattern>
    <url-pattern>/panoramioProvider</url-pattern>
    <url-pattern>/fslogin</url-pattern>
    <url-pattern>/twlogin</url-pattern>
    <url-pattern>/lnlogin</url-pattern>
    <url-pattern>/gllogin</url-pattern>
    <url-pattern>/fblogin</url-pattern>
    <url-pattern>/cblogin</url-pattern>
    <url-pattern>/token</url-pattern>
    <url-pattern>/showLandmark/*</url-pattern>
    <url-pattern>/showGeocode/*</url-pattern>
    <url-pattern>/showLayer/*</url-pattern>
    <url-pattern>/showImage/*</url-pattern>
    <url-pattern>/showUser/*</url-pattern>
    <url-pattern>/services/browserLandmark</url-pattern>
    <url-pattern>/otp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BlockerFilter</filter-name>
    <url-pattern>/facebookProvider</url-pattern>
    <url-pattern>/foursquareProvider</url-pattern>
    <url-pattern>/yelpProvider</url-pattern>
    <url-pattern>/qypeProvider</url-pattern>
    <url-pattern>/googlePlacesProvider</url-pattern>
    <url-pattern>/couponsProvider</url-pattern>
    <url-pattern>/grouponProvider</url-pattern>
    <url-pattern>/atmProvider</url-pattern>
    <url-pattern>/flickrProvider</url-pattern>
    <url-pattern>/downloadLandmark</url-pattern>
    <url-pattern>/picasaProvider</url-pattern>
    <url-pattern>/meetupProvider</url-pattern>
    <url-pattern>/upcomingProvider</url-pattern>
    <url-pattern>/youTubeProvider</url-pattern>
    <url-pattern>/eventfulProvider</url-pattern>
    <url-pattern>/osmProvider</url-pattern>
    <url-pattern>/placeopediaProvider</url-pattern>
    <url-pattern>/geonamesProvider</url-pattern>
    <url-pattern>/lastfmProvider</url-pattern>
    <url-pattern>/webcamProvider</url-pattern>
    <url-pattern>/hotwireProvider</url-pattern>
    <url-pattern>/gowallaProvider</url-pattern>
    <url-pattern>/panoramio2Provider</url-pattern>
    <url-pattern>/foursquareMerchant</url-pattern>
    <url-pattern>/expediaProvider</url-pattern>
    <url-pattern>/hotelsProvider</url-pattern>
    <url-pattern>/twitterProvider</url-pattern>
    <url-pattern>/instagramProvider</url-pattern>
    <url-pattern>/instagramProvider</url-pattern>
    <url-pattern>/freebaseProvider</url-pattern>
    <url-pattern>/search</url-pattern>
    <url-pattern>/listLayers</url-pattern>
    <url-pattern>/geocode</url-pattern>
    <url-pattern>/crashReport</url-pattern>
    <url-pattern>/imageUpload</url-pattern>
    <url-pattern>/panoramioProvider</url-pattern>
    <url-pattern>/fslogin</url-pattern>
    <url-pattern>/twlogin</url-pattern>
    <url-pattern>/lnlogin</url-pattern>
    <url-pattern>/gllogin</url-pattern>
    <url-pattern>/fblogin</url-pattern>
    <url-pattern>/cblogin</url-pattern>
    <url-pattern>/token</url-pattern>
    <url-pattern>/showLandmark/*</url-pattern>
    <url-pattern>/showGeocode/*</url-pattern>
    <url-pattern>/showLayer/*</url-pattern>
    <url-pattern>/showImage/*</url-pattern>
    <url-pattern>/showUser/*</url-pattern>
    <url-pattern>/services/browserLandmark</url-pattern>
    <url-pattern>/routeProvider</url-pattern>
    <url-pattern>/otp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServicesAuthorizationFilter</filter-name>
    <url-pattern>/services/*</url-pattern>
    <url-pattern>/s/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TokenFilter</filter-name>
    <url-pattern>/s/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GeocodeFilter</filter-name>
    <url-pattern>/s/geocode</url-pattern>
    <url-pattern>/s/search</url-pattern>
    <url-pattern>/geocode</url-pattern>
  	<url-pattern>/search</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LandmarkPersistenceServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.PersistLandmarkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowserLandmarkServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.BrowserLandmarkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SocialMessageServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.social.SocialMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListLayersServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.ListLayersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.oauth.OAuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QrCodeCheckInServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.social.QrCodeCheckInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LocationCheckInServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.social.LocationCheckInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeocodeServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.GeocodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FbPlacesServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.FBPlacesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiceLogAnalyticsServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.ServiceLogAnalyticsServlet</servlet-class>
  </servlet>
   <!--servlet>
    <servlet-name>LetsEncryptAuthServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.LetsEncryptAuthServlet</servlet-class>
  </servlet-->
  <servlet>
    <servlet-name>PanoramioProviderServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.PanoramioProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.social.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RouteProviderServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.RouteProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.tasks.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskExecuteServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.tasks.TaskExecuteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CrashReportServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.CrashReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailingTaskServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.tasks.EmailingTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search2Servlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.Search2Servlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>NotificationsServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.NotificationsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LayersProviderServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.LayersProviderServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LayersProvider2Servlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.LayersProvider2Servlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthnServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.AuthnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SocialProfileServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.SocialProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OAuthLoginServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.oauth.OAuthLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SocialCheckinServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.social.SocialCheckinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SocialCommentServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.social.SocialCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FsAddVenueServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.FsAddVenueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotificationTaskServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.tasks.NotificationTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LandmarkRedirectServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.LandmarkRedirectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.TokenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ErrorHandlerServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.ErrorHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.jstakun.lm.server.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeoJsonProviderServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.GeoJsonProviderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotelsBookingServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.HotelsBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeviceManagerServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.DeviceManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TelegramServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.TelegramServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessengerServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.MessengerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OtpServlet</servlet-name>
    <servlet-class>net.gmsworld.server.layers.OtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListLayersServlet</servlet-name>
    <url-pattern>/services/listLayers,/listLayers,/s/listLayers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LandmarkPersistenceServlet</servlet-name>
    <url-pattern>/services/persistLandmark,/s/persistLandmark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/fbauth,/s/fbauth</url-pattern>
    <url-pattern>/twauth,/s/twauth</url-pattern>
    <url-pattern>/lnauth,/s/lnauth</url-pattern>
    <url-pattern>/glauth,/s/glauth</url-pattern>
    <url-pattern>/fsauth,/s/fsauth</url-pattern>
    <url-pattern>/cbauth,/s/cbauth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAuthLoginServlet</servlet-name>
    <url-pattern>/fblogin,/s/fblogin</url-pattern>
    <url-pattern>/twlogin,/s/twlogin</url-pattern>
    <url-pattern>/lnlogin,/s/lnlogin</url-pattern>
    <url-pattern>/gllogin,/s/gllogin</url-pattern>
    <url-pattern>/fslogin,/s/fslogin</url-pattern>
    <url-pattern>/cblogin,/s/cblogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocialMessageServlet</servlet-name>
    <url-pattern>/services/fbSendMessage,/s/fbSendMessage</url-pattern>
    <url-pattern>/services/twSendUpdate,/s/twSendUpdate</url-pattern>
    <url-pattern>/services/lnSendUpdate,/s/lnSendUpdate</url-pattern>
    <url-pattern>/services/glSendPost,/s/glSendPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QrCodeCheckInServlet</servlet-name>
    <url-pattern>/services/qrCodeCheckIn,/s/qrCodeCheckIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocationCheckInServlet</servlet-name>
    <url-pattern>/services/locationCheckIn,/s/locationCheckIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeocodeServlet</servlet-name>
    <url-pattern>/geocode,/services/geocode,/s/geocode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FbPlacesServlet</servlet-name>
    <url-pattern>/services/fbPlaces,/s/fbPlaces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceLogAnalyticsServlet</servlet-name>
    <url-pattern>/admin/serviceLogAnalytics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PanoramioProviderServlet</servlet-name>
    <url-pattern>/panoramioProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/services/addComment,/s/addComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/tasks/execute</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrashReportServlet</servlet-name>
    <url-pattern>/crashReport,/services/crashReport,/s/crashReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailingTaskServlet</servlet-name>
    <url-pattern>/tasks/emailingTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotificationsServlet</servlet-name>
    <url-pattern>/notifications,/services/notifications,/s/notifications</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LandmarkRedirectServlet</servlet-name>
    <url-pattern>/landmarkRedirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LayersProviderServlet</servlet-name>
    <url-pattern>/yelpProvider,/services/yelpProvider,/s/yelpProvider</url-pattern>
    <url-pattern>/qypeProvider,/services/qypeProvider</url-pattern>
    <url-pattern>/googlePlacesProvider,/services/googlePlacesProvider,/s/googlePlacesProvider</url-pattern>
    <url-pattern>/couponsProvider,/services/couponsProvider,/s/couponsProvider</url-pattern>
    <url-pattern>/grouponProvider,/services/grouponProvider,/s/grouponProvider</url-pattern>
    <url-pattern>/atmProvider,/services/atmProvider,/s/atmProvider</url-pattern>
    <url-pattern>/services/flickrProvider,/s/flickrProvider,/flickrProvider</url-pattern>
    <url-pattern>/services/downloadLandmark,/s/downloadLandmark,/downloadLandmark</url-pattern>
    <url-pattern>/picasaProvider,/services/picasaProvider,/s/picasaProvider</url-pattern>
    <url-pattern>/meetupProvider,/services/meetupProvider,/s/meetupProvider</url-pattern>
    <url-pattern>/upcomingProvider,/services/upcomingProvider</url-pattern>
    <url-pattern>/services/youTubeProvider,/youTubeProvider,/s/youTubeProvider</url-pattern>
    <url-pattern>/services/eventfulProvider,/eventfulProvider,/s/eventfulProvider</url-pattern>
    <url-pattern>/osmProvider,/services/osmProvider,/s/osmProvider</url-pattern>
    <url-pattern>/services/gowallaProvider,/gowallaProvider</url-pattern>
    <url-pattern>/services/placeopediaProvider,/placeopediaProvider,/s/placeopediaProvider</url-pattern>
    <url-pattern>/services/geonamesProvider,/geonamesProvider,/s/geonamesProvider</url-pattern>
    <url-pattern>/lastfmProvider,/services/lastfmProvider,/s/lastfmProvider</url-pattern>
    <url-pattern>/webcamProvider,/services/webcamProvider,/s/webcamProvider</url-pattern>
    <url-pattern>/hotwireProvider,/services/hotwireProvider</url-pattern>
    <url-pattern>/panoramio2Provider,/services/panoramio2Provider,/s/panoramio2Provider</url-pattern>
    <url-pattern>/services/foursquareMerchant,/foursquareMerchant,/s/foursquareMerchant</url-pattern>
    <url-pattern>/expediaProvider,/services/expediaProvider,/s/expediaProvider</url-pattern>
    <url-pattern>/hotelsProvider,/services/hotelsProvider,/s/hotelsProvider</url-pattern>
    <url-pattern>/twitterProvider,/services/twitterProvider,/s/twitterProvider</url-pattern>
    <url-pattern>/instagramProvider,/services/instagramProvider,/s/instagramProvider</url-pattern>
    <url-pattern>/freebaseProvider,/services/freebaseProvider,/s/freebaseProvider</url-pattern>
    <url-pattern>/services/fbCheckins,/s/fbCheckins</url-pattern>
    <url-pattern>/services/fbPhotos,/s/fbPhotos</url-pattern>
    <url-pattern>/services/fsRecommended,/s/fsRecommended</url-pattern>
    <url-pattern>/services/fsCheckins,/s/fsCheckins</url-pattern>
    <url-pattern>/s/fbTagged</url-pattern>
    <url-pattern>/s/twFriends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LayersProvider2Servlet</servlet-name>
    <url-pattern>/facebookProvider,/services/facebookProvider,/s/facebookProvider</url-pattern>
    <url-pattern>/foursquareProvider,/s/foursquareProvider,/services/foursquareProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search2Servlet</servlet-name>
    <url-pattern>/search,/services/search,/s/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/imageUpload,/services/imageUpload,/s/imageUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthnServlet</servlet-name>
    <url-pattern>/services/authn,/services/authenticate,/s/authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RouteProviderServlet</servlet-name>
    <url-pattern>/routeProvider,/services/routeProvider,/s/routeProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskExecuteServlet</servlet-name>
    <url-pattern>/admin/taskExecute,/cron/taskExecute</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocialProfileServlet</servlet-name>
    <url-pattern>/socialProfile,/services/socialProfile,/s/socialProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocialCheckinServlet</servlet-name>
    <url-pattern>/services/socialCheckin,/s/socialCheckin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SocialCommentServlet</servlet-name>
    <url-pattern>/services/socialComment,/s/socialComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FsAddVenueServlet</servlet-name>
    <url-pattern>/services/fsAddVenue,/s/fsAddVenue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotificationTaskServlet</servlet-name>
    <url-pattern>/tasks/notificationTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokenServlet</servlet-name>
    <url-pattern>/token</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErrorHandlerServlet</servlet-name>
    <url-pattern>/errorHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeoJsonProviderServlet</servlet-name>
    <url-pattern>/geoJsonProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowserLandmarkServlet</servlet-name>
    <url-pattern>/services/browserLandmark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotelsBookingServlet</servlet-name>
    <url-pattern>/bookingProvider</url-pattern>
  </servlet-mapping>
  <!--servlet-mapping>
    <servlet-name>LetsEncryptAuthServlet</servlet-name>
    <url-pattern>/.well-known/acme-challenge/*</url-pattern>
  </servlet-mapping-->
  <servlet-mapping>
    <servlet-name>DeviceManagerServlet</servlet-name>
    <url-pattern>/s/deviceManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TelegramServlet</servlet-name>
    <url-pattern>/telegram</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessengerServlet</servlet-name>
    <url-pattern>/messenger</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtpServlet</servlet-name>
    <url-pattern>/otp,/admin/otp</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/errorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorHandler</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorHandler</location>
  </error-page>
  <security-constraint>
    <display-name>AdminConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>Admin</web-resource-name>
      <description>Admin Interface</description>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Admin</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>LoginConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>Login</web-resource-name>
      <description>Login</description>
      <url-pattern>/login.do</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Admin</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>SSLConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>FBSecureResource</web-resource-name>
      <description>Facebook Servlet</description>
      <url-pattern>/services/facebookProvider</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FoursquareMerchant</web-resource-name>
      <description>Foursquare Merchant Servlet</description>
      <url-pattern>/services/foursquareMerchant</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FBFriendsCheckins</web-resource-name>
      <description>Facebook Friends Servlet</description>
      <url-pattern>/services/fbCheckins</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FSFriendsCheckins</web-resource-name>
      <description>Foursquare Friends Servlet</description>
      <url-pattern>/services/fsCheckins</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FBFriendsPhotos</web-resource-name>
      <description>Facebook Friends Photos</description>
      <url-pattern>/services/fbPhotos</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FSRecommended</web-resource-name>
      <description>Foursquare Recommended Servlet</description>
      <url-pattern>/services/fsRecommended</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SocialSendMessage</web-resource-name>
      <url-pattern>/services/lnSendUpdate</url-pattern>
      <url-pattern>/services/twSendUpdate</url-pattern>
      <url-pattern>/services/glSendPost</url-pattern>
      <url-pattern>/services/fbSendMessage</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SocialCheckin</web-resource-name>
      <url-pattern>/services/socialCheckin</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SocialComment</web-resource-name>
      <url-pattern>/services/socialComment</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FSAddVenue</web-resource-name>
      <url-pattern>/services/fsAddVenue</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Auth</web-resource-name>
      <url-pattern>/services/authenticate</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Search</web-resource-name>
      <description>Search Servlet</description>
      <url-pattern>/search</url-pattern>
      <url-pattern>/services/search</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SocialAuth</web-resource-name>
      <url-pattern>/fsauth</url-pattern>
      <url-pattern>/lnauth</url-pattern>
      <url-pattern>/twauth</url-pattern>
      <url-pattern>/glauth</url-pattern>
      <url-pattern>/fbauth</url-pattern>
      <url-pattern>/cbauth</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Token</web-resource-name>
      <url-pattern>/token</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SSL addresses</web-resource-name>
      <url-pattern>/s/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Tasks</display-name>
    <web-resource-collection>
      <web-resource-name>Tasks</web-resource-name>
      <description>Tasks</description>
      <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Admin</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Session clean up</display-name>
    <web-resource-collection>
      <web-resource-name>session-cleanup</web-resource-name>
      <description>Session Cleanup</description>
      <url-pattern>/_ah/sessioncleanup</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Admin</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Cron</display-name>
    <web-resource-collection>
      <web-resource-name>Cron</web-resource-name>
      <description>Cron</description>
      <url-pattern>/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Admin</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>Admin</description>
    <role-name>admin</role-name>
  </security-role>
</web-app>