package com.jstakun.lm.server.config;

import org.bouncycastle.util.encoders.Hex;

public final class Commons {
    
	public static final String PANORAMIO_LAYER = "Panoramio";
    public static final String WIKIPEDIA_LAYER = "Wikipedia";
    public static final String LM_SERVER_LAYER = "Public";
    public static final String EVENTFUL_LAYER = "Eventful";
    public static final String FLICKR_LAYER = "Flickr";
    public static final String YOUTUBE_LAYER = "YouTube";
    public static final String FACEBOOK_LAYER = "Facebook";
    public static final String PICASA_LAYER = "Picasa";
    public static final String FOURSQUARE_LAYER = "Foursquare";
    public static final String FOURSQUARE_MERCHANT_LAYER = "Foursquare Merchant";
    public static final String YELP_LAYER = "Yelp";
    public static final String QYPE_LAYER = "Qype";
    public static final String GROUPON_LAYER = "Groupon";
    public static final String HOTELS_LAYER = "Hotels";
    public static final String GOOGLE_PLACES_LAYER = "Google Places";
    public static final String HOTWIRE_LAYER = "Hotwire";
    public static final String COUPONS_LAYER = "Coupons";
    public static final String LASTFM_LAYER = "LastFM";
    public static final String GEOCODES_LAYER = "Geocodes";
    public static final String TWITTER_LAYER = "Twitter";
    public static final String LOCAL_LAYER = "Phone Landmarks";
	
    private Commons() {};
    
    private static final Map<String, String> props = new HashMap<String, String>();
    
    public enum Property {
		BITLY_USERNAME, BITLY_APIKEY, //
		APP_USER, MYPOS_USER, //
		LN_API_KEY, LN_API_SECRET, LN_STATE, //
		bc_salt, bc_password, bc_algorithm, //
		CLOUDMADE_APIKEY, CLOUDMADE_TOKEN_KEY, CLOUDMADE_USERNAME, //
		COUPONS_KEY, //
		EVENTFUL_APP_KEY, //
		EXPEDIA_KEY, //
		fb_app_token, fb_page_token, fb_secret, fb_client_id, FB_GMS_WORLD_FEED, //
		FLICKR_APIKEY, FLICKR_sharedSecret, //
		FS_CLIENT_ID, FS_CLIENT_SECRET, FS_OAUTH_TOKEN, //
		GL_PLUS_KEY, GL_PLUS_SECRET, gl_plus_token, gl_plus_refresh, GOOGLE_API_KEY, //
		GEONAMES_USERNAME, //
		GROUPON_CLIENT_ID, //
		INSTAGRAM_CLIENT_ID, //
		LASTFM_API_KEY, //
		HOTWIRE_KEY, //
		mcopenapi_ksPwd, mcopenapi_keyAlias, mcopenapi_prodConsumerKey, mcopenapi_privKeyFile, //
		MEETUP_API_KEY, //
		TW_TOKEN, TW_SECRET, TW_CONSUMER_KEY, TW_CONSUMER_SECRET, //
		WEBCAM_API_KEY, //
		YELP_Consumer_Key, YELP_Consumer_Secret, YELP_Token, YELP_Token_Secret, YELP_ywsid, //
		YOUTUBE_API_KEY, //
		RH_GMS_USER, RH_ACCOUNT //
	};
	
	public static String getProperty(Property property) {
		return props.get(property.name());
	}   
}

